*{
    margin: 0;
}

html{
    scroll-behavior: smooth;
}
html, body{
    overflow-x:hidden;
}

body{
    background-color: #e4d6cb;
    font-family: Arial, Helvetica, sans-serif; 
}

header{
    display:flex;
    top:0;
    width: 100%;
    background-color:#e4d6cb;
    justify-content: space-between;
    position: fixed;
    color: rgb(0, 0, 0);
    padding: 0px 30px;
    align-items: center;
}

nav a{
    text-decoration: none;
    padding: 10px 25px;
    color: rgb(0, 0, 0);
    z-index: 2;
}

nav a:hover {
    background-color: white;
    color: rgb(138, 42, 42);
    border-radius: 5px;
    transition: 0.3s;
    z-index: 2;
}
.navbar{
    margin-left: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    gap: 10px;
    z-index: 2;
}

.left-panel{
    background-color: #6d1b1b;
    width: 30%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 200px;
    z-index: 3;
    font-size: 30vw;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    color: whitesmoke;
    text-align: center;
}

.left-content{
    z-index: 5;
}

.kvass-image{
    width: 600px; 
    height: 1000px;
    margin-top: 40px;
    transform: rotate(35deg);
    transition: transform 0.3s ease-in-out;
    transition: transform 0.3s ease;
    z-index: 5;
}

.kvass-image:hover{
    transform: scale(1.0) rotate(50deg);
    z-index: 5;
}

.brand-text{
    position: absolute;
    top: 150px;
    left: 30px;
    font-size: 80px;
    font-weight: bold;
    text-align: left;
    color: white;
    z-index: 2;
    line-height: 1.2;
}

.kvass{
    display: inline-block;
    margin-left: 20px;
}

.good{
    display :inline-block;
    margin-right: 20px;
}

.main-text{
    margin-left: auto;
    max-width: 500px;
    color:rgb(87, 34, 34);
    text-align: left;
    margin-top: 300px;
    margin-left: 800px
}

.main-text h1{
    font-size: 36px;
    margin-bottom: 15px;
    
}

.main-text p{
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 25px;
}

.order-button{
    display: inline-block;
    margin-left: 170px;
    background-color: blanchedalmond;
    color:#6d1b1b;
    padding:12px 24px;
    font-weight: bold;
    border-radius: 10px;
    transition: background-color 0.3 ease;
    box-shadow: 0px 0px 3px black;
    margin-top: 10px;
}

.order-button:hover{
    background-color: rgb(215, 197, 170);
    color: rgb(138, 42, 42);
    border-radius: 15px;
    transition: 0.3s;
}

.about{
    padding-top: 10px; 
    padding-bottom: 100px;
    padding-left: 100px; 
    padding-right: 100px;
    min-height: 100vh;
    background-color: #e4d6cb;
    color: #5a2f2f;
    display: flex;
    align-items: center;
}

.about-text h1{
    font-size: 36px;
    margin-bottom: 20px;
    padding-left: 800px;
}

.about-text p{
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 5px;
    padding-left: 800px;
}

.right-panel{
    background-color: #6d1b1b;
    width: 30%;
    height: 200vh;
    position: absolute;
    top: 0;
    left:0;
    z-index: 1;
    margin-top: 100vh;
}

.kvass-gelas{
    width: 600px; 
    height: 130vh;
    position: absolute;
    transform: rotate(20deg);
    transition: transform 0.3s ease-in-out;
    transition: transform 0.3s ease;
    margin-top: 80vh;
    z-index: 1;
    
}

.kvass-gelas:hover{
    transform: scale(1.0) rotate(40deg);
}


.product .container{
    margin-top: 100px;
    margin-left: 100px;
    margin-right: 100px;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    gap:20px;
    padding-top: 20px;
    padding-bottom: 50px;
    justify-items: center;
}

.card{
    background-color: rgb(249, 247, 247);
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: #5a2f2f;
    width: 200px;
    justify-content: center;
}

.card{
    transition: transform 0.3s ease;
    background-color: white;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    text-align: center;
}

.card:hover{
    animation: shake 0.5s ease;
}

@keyframes shake{
    0% { transform: translateX(0); }
    25% { transform: translateX(-5px); }
    50% { transform: translateX(5px); }
    75% { transform: translateX(-5px); }
    100% { transform: translateX(0); }
}
.card img{
    width:150px;
    height: auto;
    height: 200px;
    border-radius: 8px;
}

.card a{
    display: inline-block;
    margin-top: 10px;
    color: #5a2f2f;
    padding: 5px 20px;
    text-decoration: none;
    box-shadow: 0px 0px 3px;
    border-radius: 20px;
    background: #ecdccf;
}

.card a:hover{
    background-color: rgb(215, 197, 170);
    color: rgb(138, 42, 42);
    border-radius: 15px;
    transition: 0.3s;
}

.judul{
    text-align: center;
    font-size: 120px;
    padding-top: 100px;
    color: #5a2f2f;
}
    
.straight-panel{
    background-color: #6d1b1b;
    width: 300vw;
    height: 50vh;
    margin-top: 735px;
    position: absolute;
    top: 0;
    left: 200px;
    z-index: 1; 
    justify-content: center;
    color: whitesmoke;
    text-align: center;
}

.kvass-cheer{
    width: 600px; 
    height:600px;
    margin-bottom: 300px;
    padding-right: 2400px;
    transform: rotate(5deg);
    transition: transform 0.3s ease-in-out;
    transition: transform 0.3s ease;
    z-index: 5;
}

.kvass-cheer:hover{
    transform: scale(1.0) rotate(8deg);
    z-index: 5;
}

.straight2-panel{
    background-color: #6d1b1b;
    width: 500vh;
    height: 20vh;
    margin-top: 280vh;
    position: absolute;
    top: 0;
    z-index: 0;
    display: flex;
    justify-content: center;
}

.contact{
    height: 100vh;
    background-color: #5a2f2f;
    color: #f6ebe4;
    display: flex;
    align-items: center;
}

.contact-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    text-align: center;
    font-size: x-large;
}


.footer{
    background-color:#f6ebe4;
    height: 20px;
}

footer .socials{
    text-align: center;
    align-items: center;
    padding-top: 10px;
    height: 20px;
}

footer .socials a{
    color:white;
    font-size: 30px;
    padding: 5px 20px;
}

footer .socials a:hover{
    background-color: rgb(215, 197, 170);
    color: rgb(138, 42, 42);
    border-radius: 15px;
    transition: 0.3s;
}






   